body {

background-image: url("http://www.bearpaw-blog.de/bilder/wallpaper-maraudeur.jpg");
}

h1 {

color:white;


}


h3 {

color: white;


}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: auto;
  height: auto;
}


.container:hover {
  bottom: 0;
  height: 100%;
}

font-face {

font-family: ElementaryGothic;

src: url(C:\Users\Dual\Desktop\Projectos nous\Project-web-llmm\fonts\ElementaryGothic\Elementary_Gothic.TTF) format(‘truetype’);
}
.text {
  white-space: nowrap; 
  color: black;
  font-size: 25px;
  font-family: Constantia, Tahoma;
  position: absolute;
  top: 42%;
  left: 32%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button {

 white-space: nowrap; 
 position: absolute;
 transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
top: 75%;
left:28%;
}


.text1 {
cursor: url(nat870.cur), pointer;
  white-space: nowrap; 
  color: White;
  font-size: 28px;
  
  position: absolute;
  top: 70%;
  left: 28%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.imageTitle {
  display: block;
  width: auto;
  height: auto;

}

.textTitleh1 {
cursor: url(nat870.cur), pointer;
  white-space: nowrap; 
  color: White;
  font-size: 20px;
  position: absolute;
  top: 9%;
  left: 11%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);}

.musica {
display: hidden;
}

.textTitleh3 {
cursor: url(nat870.cur), pointer;
  white-space: nowrap; 
  color: White;
  font-size: 18px;
  position: absolute;
  top: 14%;
  left: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);}